node_modules
dist
*.local
assets/

# Sensitive files
/services/credentials.json
/services/temp_credentials.json
/services/token.json
**/*.env

# Editor directories and files
.vscode/*
!.vscode/extensions.json

